.header-section{
    width: 100%;
    height: 481px;
    background-color: black;
}

.height{
    height: 200px;
}
ol li{
    display: list-item;
    list-style-position: inside;
    list-style-type:number;
  }